* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1c1b1c;
    color: white;
}

.header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://i.pinimg.com/1200x/66/0e/ca/660eca65c7490adbf8cb41939bd72bbc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: orange;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    margin: 20px 0;
    font-size: 22px;
}

.btn {
    background: orange;
    color: white;
    padding: 14px 30px;
    border-radius: 8px;
    text-decoration: none;
}

section h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 34px;
}

.booking {
    background: #2a2a2a;
    width: 90%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
}

.booking-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.booking-form input,
.booking-form select,
.booking-form button {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.booking-form button {
    background: orange;
    color: white;
    cursor: pointer;
}

.cars,
.services,
.testimonials,
.contact {
    padding: 60px;
}

.car-container,
.service-container,
.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.car-card,
.service-box,
.testimonial {
    background: white;
    color: black;
    width: 280px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.car-card:hover,
.service-box:hover,
.testimonial:hover {
    transform: translateY(-8px);
}

.car-card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.car-card h3 {
    margin-top: 15px;
}

.car-card p {
    color: orange;
    font-weight: bold;
    margin: 10px 0;
}

.car-card button {
    background: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact {
    text-align: center;
}

.contact p {
    margin: 10px 0;
}


.customer-service {
    margin-top: 30px;
    background: #2a2a2a;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.customer-service h3 {
    color: orange;
    margin-bottom: 15px;
}

.customer-service p {
    margin: 8px 0;
}

footer {
    background: #111;
    text-align: center;
    padding: 15px;
}